duckduckgo-search==8.1.1
ddgs==9.5.2
faiss-cpu==1.10.0
huggingface-hub==0.34.3
langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.73
langchain-google-genai==2.1.9
langchain-huggingface==0.3.1
python-dotenv==1.1.0
sentence-transformers==5.1.0
streamlit==1.46.0
trafilatura==2.0.0
