duckduckgo-search==8.0.4
faiss-cpu==1.10.0
huggingface-hub==0.33.0
langchain==0.3.26
langchain-community==0.3.26
langchain-core==0.3.66
langchain-google-genai==2.1.5
langchain-huggingface==0.3.0
python-dotenv==1.1.0
sentence-transformers==4.1.0
streamlit==1.46.0
trafilatura==2.0.0
